<div class="card{{if .Params.featured}} featured{{end}}">
  <div class="background" style='background-color: #eee;'></div>
  {{ with .Resources.Match "background*" }}
    {{ range . }}
        <div class="background" style="background-image: url({{ .RelPermalink }})"></div>
    {{ end }}
  {{ end }}

  <div class="text">
    {{ if (isset .Params "externalurl") }}
      <div class="title"><a href="{{.Params.externalurl}}">{{.Title}}</a></div>
    {{ else }}
      <div class="title"><a href="{{.URL}}">{{.Title}}</a></div>
    {{ end }}
    <div class="tags">
    {{ $list := (.Params.tags) }}
    {{ $len := (len $list) }}
    {{ range $index, $element := $list }}
      <a href="{{.link}}">{{ .tag }}</a>,
    {{ end }}
    {{.Params.year}}
    </div>
    <div class="description">{{.Description}}</div>
  </div>
</div>