<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {{.Site.Title}}{{if (not (eq .Site.Title .Title))}} — {{.Title}}{{end}}
    </title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@0.7.3/dist/leaflet.css"
    />
    <link rel="stylesheet" href="/css/main.css" />

    {{if isset .Params "scrolly"}}
    <link rel="stylesheet" href="/css/viz.css" />
    <link rel="stylesheet" href="/css/scrolly.css" />
    {{ end }}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@obtusatum" />
    <meta name="twitter:creator" content="@obtusatum" />
    <meta property="og:url" content="{{ .Permalink }}" />

    {{if (not (eq .Site.Title .Title))}}
    <meta property="og:title" content="{{.Title}}" />
    {{ else }}
    <meta property="og:title" content="subject.space" />
    {{end}} {{ if .Description }}
    <meta property="og:description" content="{{ .Description }} " />
    {{ else }}
    <meta
      property="og:description"
      content="Bits and pieces from Logan Williams."
    />
    {{ end }} {{ with .Resources.Match "background*" }} {{ range . }}
    <meta property="og:image" content="{{ .Permalink }}" />
    {{ end }} {{ end }}

    <script defer data-domain="subject.space" src="https://plausible.io/js/script.js"></script>
  </head>
  <body></body>
</html>
