{{ $img := $.Page.Resources.GetMatch (.Get "name")}}

<figure>
	{{ if isset .Params "a" }}
		{{ $imgLg := $.Page.Resources.GetMatch (.Get "a")}}
<a href="{{$imgLg.RelPermalink }}">
	{{ end }}
	{{ if isset .Params "caption" }}
	{{ with (.Get "caption") }}
<img src="{{ $img.RelPermalink }}" alt="{{ . }}"/>
	{{ end }}
	{{ else }}
<img src="{{ $img.RelPermalink }}" />
	{{ end }}
	{{ if isset .Params "a" }}
</a>
	{{ end }}

	{{ if isset .Params "caption" }}
<figcaption>{{ (.Get "caption") }}</figcaption>
	{{ end }}
</figure>