{{ partial "header.html" . }}

<main>
  <header class="header">
    <h1>{{.Title}}</h1>
    <div class="tags"><a href="https://exclav.es">blog</a>, <a href="https://mastodon.social/@obtusatum" rel="me">mastodon</a>, <a href="https://github.com/loganwilliams">github</a>, <a href="resume.pdf">résumé</a>, <a href="mailto:logan.williams@alum.mit.edu">email</a></div>
  </header>

  <div class="cards">
  {{ range where (where .Site.RegularPages "Section" "projects" ) ".Params.featured" "==" true }}
    {{ partial "card.html" . }}
  {{ end }}

  {{ range where (where (where .Site.RegularPages "Section" "projects" ) ".Params.featured" "!=" true) ".Params.hide" "!=" true }}
    {{ partial "card.html" . }}
  {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}